html{
    background-image: url('cat_seamless_2.jpg');
    /* opacity: 0.5;  */
    /* background-color: rgb(9, 3, 95);   */
}
    #canvas1 {
    width: 650px;
    height: 400px;
    border: 5px solid rgb(10, 2, 112);
    border-radius: 20px;
    background: burlywood;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxInMiddle {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 10px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    line-height: none;
    
}

.containGOinfo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gameOverUI {
    width: 650px;
    height: 400px;
    background: rgba(222, 184, 135, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    
}


.yourscore {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding: 10px;
    line-height: none;

}

#restart {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid rgb(10, 2, 112);
    background: white;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    color: rgb(10, 2, 112);
    

}


#restart:hover {
    width: 150px;
    height: 30px;
    background: rgb(10, 2, 112);
    transition:  background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .2s linear;
  transition-delay: 0.0s, 0.15s;
    color: white;

}

/* start of game UI */
 #startGameUI {
    width: 650px;
    height: 400px;
    border: 5px solid rgb(10, 2, 112);
    border-radius: 20px;
    background-image: url('base_Start_page.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    
}

.containStartInfo{
    margin: 0;
    position: relative;
    top: 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: none;
}

#play {
    border-radius: 30px;
    background-color: rgb(10, 2, 112);
    border: 3px solid black;
    color: rgb(238, 237, 237);
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 170px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
    margin-top: 5px;

    text-transform: uppercase;
    font-weight: 900;
  }
  
  #play span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #play span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #play:hover span {
    padding-right: 25px;
  }
  
  #play:hover span:after {
    opacity: 1;
    right: 0;
  }

#play:hover {
    background: linear-gradient(90deg, rgba(10,2,112,1) 0%, rgba(9,9,121,1) 35%, rgba(24,226,173,1) 100%);
}

.instructions {
    width: 410px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid rgb(10, 2, 112, 0.9);
    position: absolute;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: rgba(9, 2, 112, 0.9);

} 

strong {
    color: orangered;
}